


  .rrow {
    .column {
        .action-buttons {
          width: 400px;
          padding-top: 30px;
          padding-bottom: 20px;
          display: flex;

          .learn-more {
            float: left;
          }
          .hire-gig {
            float: right;
          }
        }
      }
    
  }

  .portfolio-section {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-item {
    width: 500px;
    padding: 10px;
    margin-bottom: 3em;
    background-color: rgba(rgb(235, 235, 235), 0.1);

    img{
      background-color: rgba(rgb(149, 149, 149), 0.1);
    }
      &:hover{
      background: none;

      img{
        background: #ffffff
      }
    }

    .flex {
      display: flex;
    }

    .item {
      padding-right: 30px;
    }
  }
  // &:hover{
  //   background: none;

  //   img{
  //     background: #ffffff
  //   }
  // }
  .item {
    cursor: pointer;
  }
  .follow-text {
    margin-top: 150px;
  }

  .sm-list {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 200px;
    height: auto;

    .icons {
      color: #2d132c;
      font-weight: 100;
      transition: 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }


@media screen and (min-width: 990px) {
    .portfolio-section {
      margin-top: 30px;
      margin-bottom: 40px;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     }
      .left-text {
        padding: 50px 100px;
          .main-text {
            font-size: 3.2rem;
            line-height: 1.5;
          }
          .sub-text {
            font-size: 2rem;
            line-height: 1.5;
            color: #801336;
          }
      }
}
@media screen and (max-width: 500px){

        .left-text {
        padding:  0;
        .main-text {
          font-size: 1.5rem;
          line-height: 1.5;
        }
        .sub-text {
          font-size: 1rem;
          line-height: 1.5;
          color: #801336;
        }
      }

   
}
