
  .rrow {
    margin-top: 20px;
      .action-buttons {
        width: 400px;
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;

        .learn-more {
          float: left;
        }
        .hire-gig {
          float: right;
          a{
            text-decoration: none;
          }
        }
      }
    


  .follow-text {
    margin-top: 150px;
  }

  .sm-list {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 200px;
    height: auto;

    .icons {
      color: #2d132c;
      font-weight: 100;
      transition: 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 990px) {
       .card-width{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;

      }
      .row1{
        width:65%;
        
      }
      .row2{
        width: 35%;
        text-align: center;
        align-items: stretch;
      }
      .center{
        margin: 0 auto;
        width: 25%;
      }
      .main-text {
        font-size: 2.6rem;
        line-height: 1.5;
      }
      .sub-text {
        font-size: 2rem;
        line-height: 1.5;
        color: #801336;
      }
}

@media screen and (max-width: 500px){
        .main-text {
          font-size: 1.5rem;
          line-height: 1.5;
        }
        .sub-text {
          font-size: 1rem;
          line-height: 1.5;
          color: #801336;
        }
}
