.home {
  width: 98vw;
  max-width: 1450px;
  height: auto;
  position: relative;
  padding: 40px 10px 0 20px;
  overflow-x: hidden;
  background-image: url("../assets/expp.svg");
  background-repeat: no-repeat;
  animation: background-animation 0.5s;
  animation-fill-mode: both;

    @keyframes background-animation{
      0%{
          margin-top: 100%;
      }

  }
}
@media screen and (min-width: 990px){
  .home{
    padding: 60px 100px 0 100px;
    
  }
}