body {
  margin: 0;
  /* width: 100vw;
  height: 100%; */
  font-family: "Poppins", sans-serif;
  /* background-color: black;
  border: solid 2px black; */
}
/* .spinner{
  margin: 0 auto;

} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
